@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dde7dd;
}

.active {
  @apply text-[#4d634d];
}

pre {
  white-space: pre-line;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav li {
  margin: 0 10px;
}

.ff_about_page {
  position: relative;
}

.ff_about_page img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body.bg {
  background-image: url(./images/login_page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

body.bg-about {
  background-image: url(./images/ff_about_page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

body.bg-contact {
  background-image: url(./images/ff_contact_page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.main-content {
  padding-bottom: 80px; /* adjust the value to match the height of your footer */
}

#root {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}


footer {
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}


















